@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&family=Urbanist:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

.hoverDive:hover .hoverImage {
  transform: scale(50);
  transition: all 2s ease-in-out;
}

.hoverImage {
  width: "100%";
  height: "100%";
  transition: all 1s ease-in-out;
}

.hoverImages {
  width: "100%";
  height: "100%";
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  border-radius: 100%;
}

.clickedImage {
  transform: scale(6.2, 50);
  transition: all 0.5s ease-in-out;
  /* transition-delay: 0.5s; */
  background-color: #0b234c;
}

.active-category {
  background-color: #00b8f1;
}

.heroBackground {
  background: url("https://res.cloudinary.com/asifsaythe/image/upload/v1700809049/homeHeroBack_ovxxbh.gif"), linear-gradient(#01112e, #005b77);
  background-blend-mode: color-dodge;
  background-size: cover;
}

.hero-text-sideLine {
  position: relative;
  font-weight: 300 !important;
}
.hero-text-sideLine::before {
  content: "";
  height: 77px;
  width: 2px;
  background-color: #ffffff;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.secSectionBg {
  background: url("../images/secSection.svg");
  background-size: contain;
}
.borderss:last-child{
border-bottom: 0.738px solid #ffffff;
padding-bottom: 20px;
}

.arrowAwards:hover svg path{
  stroke: #ffffff;
}
.service-hover-cards-transition {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 0;
  height: 0;
  transition: all 0.5s ease-in-out;
  background-color: #0009;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  border-radius: 100%;
}
.service-hover-cards-transition p {
  font-size: 12px;
}
.service-cards-transition:hover .service-hover-cards-transition {
  height: 100%;
  width: 100%;
  transform: scale(1.5);
}

.services-page-hero{
  background:url('../images/heroImage.webp'),linear-gradient(#0B234C, #00B8F1);
  background-blend-mode: color-dodge;
  background-size: cover;
}
.service-cards-transition div img {
  transition: all 0.5s ease-in-out;
}
.service-cards-transition:hover div img {
  transform: scale(1.3);
}
/* .arrowhide {
  width: auto;
} */

/* Target the last child of its parent when the screen size is upper */
/* @media (min-width: 786px) {
  .arrowhide:last-child {
    max-width: 384px;
  }
} */
/* .arrowhide:last-child .imagearrow{
 display: none;
} */


.box:hover {
  --border-size: 3px;
  --border-angle: 0turn;

  background-image: conic-gradient(
      from var(--border-angle),
      rgb(255, 255, 255),
      rgb(255, 255, 255) 50%,
      rgb(253, 253, 253)
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #30E7ED, #00A6D7);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.box {
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.hide {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

.show {
  height: 150px;
  opacity: 1;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}
