@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

.hoverDive:hover .hoverImage {
  /* width: 300%;
height: 300%; */
  transform: scale(50);
  transition: all 2s ease-in-out;

}

.hoverImage {
  width: '100%';
  height: '100%';
  transition: all 1s ease-in-out;
}

.hoverImages {
  width: '100%';
  height: '100%';
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  border-radius: 100%;
}

.clickedImage {
  transform: scale(6.2, 50);
  transition: all 0.5s ease-in-out;
  /* transition-delay: 0.5s; */
  background-color: #0B234C;
}

.active-category {
  background-color: #00B8F1;
}